chatbot/hrt-chat-workflow.json
{
  "name": "HRT.org Chatbot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hrt-chatbot",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -560,
        -80
      ],
      "id": "d47529cb-482f-4a6c-8713-75325a4cf6e0",
      "name": "Webhook",
      "webhookId": "2e4c3bc3-ca19-402e-94d6-a9d614641dcb"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst body = item.body || item;\n\nconst message = body.message || body.chatInput || '';\nconst sessionId = body.sessionId || '';\nconst conversationState = body.conversationState || {};\nconst pageUrl = body.pageUrl || '/';\nconst source = body.source || 'viltis-website';\n\nconst step = conversationState.step || 'start';\nconst leadData = conversationState.leadData || {};\nconst messageCount = conversationState.messageCount || 0;\nconst symptomChecklistDone = conversationState.symptomChecklistDone || false;\nconst portalRegistered = conversationState.portalRegistered || false;\nconst isReturning = step !== 'start' || Object.keys(leadData).length > 0 || messageCount > 0;\n\nreturn [{\n  json: {\n    userMessage: message,\n    sessionId,\n    step,\n    leadData,\n    pageUrl,\n    source,\n    isReturning,\n    messageCount,\n    symptomChecklistDone,\n    portalRegistered,\n    conversationState\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        -80
      ],
      "id": "edddfabc-0278-4edb-9e19-61ba90a8ed8e",
      "name": "Parse Input"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b51d1e1d-8dad-46a6-a335-6d493da082d5",
              "leftValue": "={{ $json.isReturning }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -144,
        -80
      ],
      "id": "e1e5b57d-6568-46d6-9163-f747da8e75af",
      "name": "If New Visitor"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ceea5b48-e5b8-41ca-a3d4-4758a56077f0",
              "name": "systemContext",
              "value": "NEW_VISITOR",
              "type": "string"
            },
            {
              "id": "d2b5c5f8-43ea-43f0-9d83-be2783c97947",
              "name": "priorHistory",
              "value": "Nothing yet",
              "type": "string"
            },
            {
              "id": "fbe01b8e-8c3c-4193-a039-3f9f71cd1fab",
              "name": "userMessage",
              "value": "={{ $json.userMessage }}",
              "type": "string"
            },
            {
              "id": "49073ead-3baa-426d-9706-cd6790617500",
              "name": "sessionId",
              "value": "={{ $json.sessionId }}",
              "type": "string"
            },
            {
              "id": "5e7858b2-0282-4b46-9b57-468bbd9b54e5",
              "name": "step",
              "value": "={{ $json.step }}",
              "type": "string"
            },
            {
              "id": "71092fe1-629c-4812-96df-ea6e63d87813",
              "name": "leadData",
              "value": "={{ $json.leadData }}",
              "type": "object"
            },
            {
              "id": "551a0439-ddfb-4784-ba6f-3840f31ab2d1",
              "name": "pageUrl",
              "value": "={{ $json.pageUrl }}",
              "type": "string"
            },
            {
              "id": "661b1540-eefc-4895-ba70-4951c42cd2e2",
              "name": "source",
              "value": "={{ $json.source }}",
              "type": "string"
            },
            {
              "id": "messageCount",
              "name": "messageCount",
              "value": "={{ $json.messageCount || 0 }}",
              "type": "number"
            },
            {
              "id": "symptomChecklistDone",
              "name": "symptomChecklistDone",
              "value": "={{ $json.symptomChecklistDone || false }}",
              "type": "boolean"
            },
            {
              "id": "portalRegistered",
              "name": "portalRegistered",
              "value": "={{ $json.portalRegistered || false }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        -176
      ],
      "id": "ab300697-95d2-4f8a-8a60-0ee20c1837ec",
      "name": "Set New Visitor Context"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst lead = data.leadData || {};\n\nconst historyLines = [];\nif (lead.name) historyLines.push(`- Name: ${lead.name}`);\nif (lead.email) historyLines.push(`- Email: ${lead.email}`);\nif (lead.phone) historyLines.push(`- Phone: ${lead.phone}`);\nif (lead.gender) historyLines.push(`- Gender pathway: ${lead.gender}`);\nif (lead.state) historyLines.push(`- State: ${lead.state}`);\nif (lead.symptoms?.length) historyLines.push(`- Symptoms noted: ${lead.symptoms.join(', ')}`);\n\nif (lead.contactDeclined) {\n  historyLines.push('- Contact: declined — support only, NEVER ask again');\n} else if (lead.name && lead.email) {\n  historyLines.push('- Contact: COMPLETE — NEVER ask for name or email again. Answer their question and share relevant links.');\n} else if (lead.name && !lead.email) {\n  historyLines.push('- Contact: have name — if asking once, request EMAIL ONLY');\n} else if (!lead.name && lead.email) {\n  historyLines.push('- Contact: have email — if asking once, request NAME ONLY');\n} else if (lead.contactAsked) {\n  historyLines.push('- Contact: already asked once — do NOT ask again, just answer their question');\n} else {\n  historyLines.push('- Contact: not yet collected — ask once after answering their first real question');\n}\n\nif (lead.symptomChecklistPrompted) historyLines.push('- Symptom checklist: already shared');\nif (lead.portalPrompted) historyLines.push('- Portal: already shared');\nif (lead.assistanceWith) {\n  historyLines.push(`- Previous topic (only if they mention it): ${lead.assistanceWith}`);\n}\nif (lead.topic && lead.topic !== lead.assistanceWith) {\n  historyLines.push(`- Previous topic detail: ${lead.topic}`);\n}\n\nhistoryLines.push(`- Message count: ${data.messageCount || 0}`);\nhistoryLines.push(`- Current step: ${data.step || 'start'}`);\nif ((data.messageCount || 0) > 0) {\n  historyLines.push('- DO NOT use welcome-back greeting again — continue the conversation naturally');\n}\n\nconst priorHistory = historyLines.length > 0\n  ? historyLines.join('\\n')\n  : 'No data collected yet';\n\nreturn [{\n  json: {\n    userMessage: data.userMessage,\n    sessionId: data.sessionId,\n    step: data.step,\n    leadData: lead,\n    pageUrl: data.pageUrl || '/',\n    source: data.source || 'viltis-website',\n    messageCount: data.messageCount || 0,\n    symptomChecklistDone: data.symptomChecklistDone || false,\n    portalRegistered: data.portalRegistered || false,\n    isReturning: true,\n    systemContext: 'RETURNING_VISITOR',\n    priorHistory\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        16
      ],
      "id": "d563af36-e4b9-4dd2-b6ff-aef6a5bb2b32",
      "name": "Build Returning Context"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=You are the HRT.org Care Assistant — warm, clinically-informed, helpful. You educate visitors about hormone health and guide them to the right HRT.org resources.\n\nCURRENT SESSION:\n- Step: {{ $json.step }}\n- Visitor type: {{ $json.systemContext || 'NEW_VISITOR' }}\n- Message count: {{ $json.messageCount || 0 }}\n- Previously collected: {{ $json.priorHistory || 'Nothing yet' }}\n- Visitor's latest message: {{ $json.userMessage }}\n- Page URL: {{ $json.pageUrl || '/' }}\n\n---\n\n## CRITICAL RULES (always follow)\n\n1. NEVER repeat the welcome-back greeting after messageCount > 0. Only greet warmly on the very first message when step = start.\n2. If priorHistory says Contact COMPLETE (name + email exist): NEVER ask for contact info. Just answer and share links.\n3. If priorHistory says Contact already asked once: NEVER ask again. Answer their question fully.\n4. If user seems confused (\"huh?\", \"what?\", \"sorry?\"): apologize briefly, clarify your last point, do NOT restart with a greeting.\n5. Every reply must be complete, natural sentences — never cut off mid-thought.\n6. Plain text only in message. Full https:// URLs on their own line for buttons.\n7. Never diagnose or prescribe. Educational only.\n\n---\n\n## CONVERSATION FLOW\n\n### A) First message — step = start, messageCount = 0\n- Greeting only (hi, hello): Warm welcome 2-3 sentences. Mention you help with treatments, symptom checklists, lab testing, and care for men and women. Ask what they'd like to explore. nextStep = topic_captured. NO contact ask.\n- First message has a topic/question: Answer in 2-4 sentences. If contact not complete and not asked before, ask once for name + email (email only if name already known). nextStep = collecting_contact. contactAsked = true.\n\n### B) Second message — step = topic_captured\n- Do NOT say \"Welcome back\" again.\n- Answer their question in 2-4 clear sentences.\n- If they ask about symptom assessments: explain HRT.org offers free online checklists for thyroid, menopause, andropause, hormone imbalance (men/women), PMS, adrenal fatigue, and more. Share the best matching URL(s) on their own line.\n- If contact not complete and contactAsked is not true: ask once — \"May I get your email to send personalized resources?\" (if name known) OR \"May I get your full name and email?\" (if neither known). nextStep = collecting_contact. contactAsked = true.\n- If contact already complete: nextStep = completed. No contact ask.\n\n### C) step = collecting_contact\n- Name + email received: Thank by first name. Answer their topic briefly. Share relevant checklist link. nextStep = completed. getStartedReady = true.\n- Partial data: save it, ask ONLY for missing field.\n- Refusal: \"No problem!\" contactDeclined = true. nextStep = completed.\n- New question without giving info (contactAsked already true): answer only. nextStep = completed. Do NOT ask for contact.\n\n### D) step = completed\n- Answer questions fully. Share checklist/treatment links when relevant. Never ask for contact again.\n\n---\n\n## SYMPTOM ASSESSMENTS — when user asks about checklists/assessments\n\nExplain briefly, then share the best URL on its own line:\n- General (women): https://hrt.org/checklist/hormone-symptom-checklist-for-women-female-hormone-imbalance-test\n- General (men): https://hrt.org/checklist/hormone-symptom-checklist-men\n- Thyroid: https://hrt.org/checklist/thyroid-assessment\n- Menopause: https://hrt.org/checklist/menopause-assessment\n- Perimenopause: https://hrt.org/checklist/perimenopause-assessment\n- Andropause: https://hrt.org/checklist/andropause-assessment\n- Adrenal/stress: https://hrt.org/checklist/adrenal-fatigue-stress-test\n- PMS: https://hrt.org/checklist/pms-assessment\n- Osteoporosis: https://hrt.org/checklist/osteoporosis-assessment\n\nIf gender unknown and they want general assessment, mention both men and women options.\n\n---\n\n## OFFICIAL LINKS\n\n- Homepage: https://hrt.org\n- Lab testing: https://hrt.org/lab-testing\n- Shop: https://store.hrt.org\n- Register: https://portal.hrt.org/register (only when user asks to sign up)\n- Symptoms tracker: https://portal.hrt.org/app/symptoms-tracker\n- Men's HRT: https://hrt.org/men/hormone-replacement-therapy\n- Women's HRT: https://hrt.org/women/hormone-replacement-therapy\n- Contact: info@hrt.org · 888 574 5524\n- States: Florida and California telehealth only\n\n---\n\n## ABOUT HRT.ORG\n\nServices: HRT, Peptide Therapy, Weight Management, Sexual Health, Hair Loss, Lab Testing.\nDisclaimer: Educational only, not medical advice. Emergencies → 911.\n\n---\n\n## RESPONSE FORMAT — RAW JSON ONLY\n\n{\n  \"message\": \"complete natural reply here\",\n  \"nextStep\": \"start|topic_captured|collecting_contact|completed\",\n  \"leadData\": {\n    \"name\": \"only if known\",\n    \"email\": \"only if known\",\n    \"phone\": \"only if known\",\n    \"assistanceWith\": \"only if known\",\n    \"topic\": \"only if known\",\n    \"gender\": \"men|women — only if known\",\n    \"symptoms\": [],\n    \"symptomChecklistPrompted\": true,\n    \"contactDeclined\": true,\n    \"contactAsked\": true\n  },\n  \"isHotLead\": false,\n  \"getStartedReady\": false,\n  \"messageCount\": 1\n}"
            },
            {
              "role": "user",
              "content": "={{ $json.userMessage }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        272,
        -80
      ],
      "id": "af61237c-ce32-4a70-964d-d607ddac88f4",
      "name": "OpenAI Chat"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nlet context = {};\ntry {\n  context = $('Set New Visitor Context').first().json;\n} catch (error) {\n  try {\n    context = $('Build Returning Context').first().json;\n  } catch (innerError) {\n    context = {};\n  }\n}\n\nlet raw = '';\ntry {\n  raw = data.output[0].content[0].text;\n} catch (error) {\n  throw new Error('Could not read OpenAI response: ' + JSON.stringify(data));\n}\n\nif (!raw) {\n  throw new Error('Empty response from OpenAI');\n}\n\nlet clean = raw.trim();\nif (clean.startsWith('```')) {\n  clean = clean.replace(/^```json?\\n?/, '').replace(/\\n?```$/, '').trim();\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(clean);\n} catch (error) {\n  parsed = {\n    message: raw,\n    nextStep: context.step || 'start',\n    leadData: {},\n    isHotLead: false,\n    getStartedReady: false\n  };\n}\n\nconst existingLeadData = context.leadData || {};\nconst newLeadData = parsed.leadData || {};\nconst mergedLeadData = { ...existingLeadData };\nconst userMessage = (context.userMessage || '').trim();\nconst previousStep = context.step || 'start';\n\nObject.keys(newLeadData).forEach((key) => {\n  const val = newLeadData[key];\n  if (val !== '' && val !== null && val !== undefined) {\n    mergedLeadData[key] = val;\n  }\n});\n\nconst emailInMessage = userMessage.match(/[\\w.+-]+@[\\w.-]+\\.[a-zA-Z]{2,}/);\nif (emailInMessage && !mergedLeadData.email) {\n  mergedLeadData.email = emailInMessage[0];\n}\n\nconst refusalPattern = /\\b(no thanks|not interested|don't want|do not want|prefer not|rather not|skip|without sharing|won't share|no email|pass on that|just browsing|not comfortable|won't give|i'd rather not|rather not share)\\b/i;\nif (refusalPattern.test(userMessage) && !(mergedLeadData.name && mergedLeadData.email)) {\n  mergedLeadData.contactDeclined = true;\n}\n\nconst topicDismissPattern = /\\b(not looking for|not interested in|not today)\\b/i;\nif (topicDismissPattern.test(userMessage)) {\n  if (newLeadData.topic) {\n    mergedLeadData.topic = newLeadData.topic;\n  } else {\n    delete mergedLeadData.topic;\n    delete mergedLeadData.assistanceWith;\n  }\n}\n\nconst hasEmail = Boolean(mergedLeadData.email);\nconst hasName = Boolean(mergedLeadData.name);\nconst contactComplete = hasName && hasEmail;\nconst contactDeclined = Boolean(mergedLeadData.contactDeclined);\nconst wasContactAsked = Boolean(mergedLeadData.contactAsked);\n\nlet nextStep = parsed.nextStep || previousStep;\nlet getStartedReady = parsed.getStartedReady || false;\n\nif (nextStep === 'collecting_contact') {\n  mergedLeadData.contactAsked = true;\n}\n\nif (parsed.leadData?.contactAsked) {\n  mergedLeadData.contactAsked = true;\n}\n\nif (wasContactAsked && !contactComplete && !contactDeclined && previousStep === 'collecting_contact') {\n  const gavePartial = Boolean(emailInMessage) || Boolean(newLeadData.name) || Boolean(newLeadData.email);\n  const isRefusal = refusalPattern.test(userMessage);\n  if (!gavePartial && !isRefusal) {\n    nextStep = 'completed';\n    getStartedReady = false;\n  }\n}\n\nif (contactComplete) {\n  nextStep = 'completed';\n  getStartedReady = true;\n}\n\nif (contactDeclined) {\n  nextStep = 'completed';\n  getStartedReady = false;\n}\n\nif (previousStep === 'completed') {\n  nextStep = 'completed';\n  getStartedReady = contactComplete;\n}\n\nif (getStartedReady && !contactComplete) {\n  getStartedReady = false;\n}\n\nconst messageCount = Math.max(\n  Number(parsed.messageCount) || 0,\n  (context.messageCount || 0) + 1\n);\n\nconst shouldSaveLead =\n  contactComplete &&\n  nextStep === 'completed' &&\n  previousStep === 'collecting_contact' &&\n  Boolean(emailInMessage || newLeadData.name || newLeadData.email);\n\nfunction formatPlainText(text) {\n  if (!text) return '';\n  return text\n    .replace(/^#{1,6}\\s+/gm, '')\n    .replace(/\\*\\*(.+?)\\*\\*/g, '$1')\n    .replace(/__(.+?)__/g, '$1')\n    .replace(/`([^`]+)`/g, '$1')\n    .replace(/^\\s*[*-]\\s+/gm, '• ')\n    .replace(/(?<!\\S)\\*(?!\\s)(.+?)(?<!\\S)\\*(?!\\S)/g, '$1')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n}\n\nreturn [{\n  json: {\n    aiMessage: formatPlainText(parsed.message || ''),\n    nextStep,\n    leadData: mergedLeadData,\n    isHotLead: parsed.isHotLead || false,\n    getStartedReady,\n    shouldSaveLead,\n    messageCount,\n    sessionId: context.sessionId || 'unknown-' + Date.now(),\n    pageUrl: context.pageUrl || '/',\n    source: context.source || 'viltis-website'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        -80
      ],
      "id": "41de6887-555f-49a0-a012-8b4cf65bd9a0",
      "name": "Parse AI Response"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nreturn [{\n  json: {\n    response: data.aiMessage,\n    getStartedUrl: data.shouldSaveLead ? 'https://portal.hrt.org/register' : null,\n    conversationState: {\n      step: data.nextStep,\n      leadData: data.leadData || {},\n      isHotLead: data.isHotLead || false,\n      getStartedReady: data.getStartedReady || false,\n      leadSaved: Boolean(data.shouldSaveLead) || false,\n      messageCount: data.messageCount || 0,\n      symptomChecklistDone: Boolean(data.leadData?.symptomChecklistPrompted) || false,\n      portalRegistered: Boolean(data.leadData?.portalPrompted) || false\n    },\n    sessionId: data.sessionId || '',\n    leadData: data.leadData || {},\n    isHotLead: data.isHotLead || false,\n    getStartedReady: data.getStartedReady || false,\n    shouldSaveLead: data.shouldSaveLead || false,\n    pageUrl: data.pageUrl || '/',\n    source: data.source || 'viltis-website'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        -80
      ],
      "id": "0c4abc16-ee9f-4d1d-9f89-952a193ab7e0",
      "name": "Build Final Response"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "save-lead-check",
              "leftValue": "={{ $json.shouldSaveLead }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        896,
        16
      ],
      "id": "f675a071-72b3-49e7-9b09-3a8584ebafa2",
      "name": "If Lead Ready"
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_TABLE_NAME",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.sessionId }}",
            "Name": "={{ $json.leadData.name || \"\" }}",
            "Email": "={{ $json.leadData.email || \"\" }}",
            "Phone Number": "={{ $json.leadData.phone || \"\" }}",
            "Assistance With": "={{ $json.leadData.assistanceWith || \"\" }}",
            "Timestamp": "={{ $now.toISO() }}"
          },
          "matchingColumns": [
            "id"
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1104,
        16
      ],
      "id": "f2745031-5f55-4ee7-950c-3e7c134e7dae",
      "name": "Save Lead"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { response: $json.response, getStartedUrl: $json.getStartedUrl, conversationState: $json.conversationState, sessionId: $json.sessionId } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1104,
        -176
      ],
      "id": "c69cd710-1d7f-426f-b539-e98f6236e85a",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Input": {
      "main": [
        [
          {
            "node": "If New Visitor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If New Visitor": {
      "main": [
        [
          {
            "node": "Set New Visitor Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Returning Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set New Visitor Context": {
      "main": [
        [
          {
            "node": "OpenAI Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Returning Context": {
      "main": [
        [
          {
            "node": "OpenAI Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Build Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Final Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Lead Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Lead Ready": {
      "main": [
        [
          {
            "node": "Save Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "hrt-org-chatbot-workflow-v2"
  },
  "settings": {
    "executionOrder": "v1"
  }
}
