chatbot/hrt-chat-workflow.json
{
  "name": "HRT.org Chatbot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hrt-chatbot",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -560,
        -80
      ],
      "id": "d47529cb-482f-4a6c-8713-75325a4cf6e0",
      "name": "Webhook",
      "webhookId": "2e4c3bc3-ca19-402e-94d6-a9d614641dcb"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst body = item.body || item;\n\nconst message = body.message || body.chatInput || '';\nconst sessionId = body.sessionId || '';\nconst conversationState = body.conversationState || {};\nconst pageUrl = body.pageUrl || '/';\nconst source = body.source || 'viltis-website';\n\nconst step = conversationState.step || 'start';\nconst leadData = conversationState.leadData || {};\nconst messageCount = conversationState.messageCount || 0;\nconst symptomChecklistDone = conversationState.symptomChecklistDone || false;\nconst portalRegistered = conversationState.portalRegistered || false;\nconst isReturning = step !== 'start' || Object.keys(leadData).length > 0 || messageCount > 0;\n\nreturn [{\n  json: {\n    userMessage: message,\n    sessionId,\n    step,\n    leadData,\n    pageUrl,\n    source,\n    isReturning,\n    messageCount,\n    symptomChecklistDone,\n    portalRegistered,\n    conversationState\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        -80
      ],
      "id": "edddfabc-0278-4edb-9e19-61ba90a8ed8e",
      "name": "Parse Input"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b51d1e1d-8dad-46a6-a335-6d493da082d5",
              "leftValue": "={{ $json.isReturning }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -144,
        -80
      ],
      "id": "e1e5b57d-6568-46d6-9163-f747da8e75af",
      "name": "If New Visitor"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ceea5b48-e5b8-41ca-a3d4-4758a56077f0",
              "name": "systemContext",
              "value": "NEW_VISITOR",
              "type": "string"
            },
            {
              "id": "d2b5c5f8-43ea-43f0-9d83-be2783c97947",
              "name": "priorHistory",
              "value": "Nothing yet",
              "type": "string"
            },
            {
              "id": "fbe01b8e-8c3c-4193-a039-3f9f71cd1fab",
              "name": "userMessage",
              "value": "={{ $json.userMessage }}",
              "type": "string"
            },
            {
              "id": "49073ead-3baa-426d-9706-cd6790617500",
              "name": "sessionId",
              "value": "={{ $json.sessionId }}",
              "type": "string"
            },
            {
              "id": "5e7858b2-0282-4b46-9b57-468bbd9b54e5",
              "name": "step",
              "value": "={{ $json.step }}",
              "type": "string"
            },
            {
              "id": "71092fe1-629c-4812-96df-ea6e63d87813",
              "name": "leadData",
              "value": "={{ $json.leadData }}",
              "type": "object"
            },
            {
              "id": "551a0439-ddfb-4784-ba6f-3840f31ab2d1",
              "name": "pageUrl",
              "value": "={{ $json.pageUrl }}",
              "type": "string"
            },
            {
              "id": "661b1540-eefc-4895-ba70-4951c42cd2e2",
              "name": "source",
              "value": "={{ $json.source }}",
              "type": "string"
            },
            {
              "id": "messageCount",
              "name": "messageCount",
              "value": "={{ $json.messageCount || 0 }}",
              "type": "number"
            },
            {
              "id": "symptomChecklistDone",
              "name": "symptomChecklistDone",
              "value": "={{ $json.symptomChecklistDone || false }}",
              "type": "boolean"
            },
            {
              "id": "portalRegistered",
              "name": "portalRegistered",
              "value": "={{ $json.portalRegistered || false }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        -176
      ],
      "id": "ab300697-95d2-4f8a-8a60-0ee20c1837ec",
      "name": "Set New Visitor Context"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst lead = data.leadData || {};\n\nconst historyLines = [];\nif (lead.name) historyLines.push(`- Name: ${lead.name}`);\nif (lead.email) historyLines.push(`- Email: ${lead.email}`);\nif (lead.phone) historyLines.push(`- Phone: ${lead.phone}`);\nif (lead.gender) historyLines.push(`- Gender pathway: ${lead.gender}`);\nif (lead.state) historyLines.push(`- State: ${lead.state}`);\nif (lead.symptoms?.length) historyLines.push(`- Symptoms noted: ${lead.symptoms.join(', ')}`);\nif (lead.contactDeclined) {\n  historyLines.push('- Contact: declined (support only — do NOT ask again)');\n} else if (lead.name && lead.email) {\n  historyLines.push('- Contact: complete (do NOT ask for name or email again)');\n} else if (lead.name && !lead.email) {\n  historyLines.push('- Contact: have name — ask for EMAIL ONLY if needed');\n} else if (!lead.name && lead.email) {\n  historyLines.push('- Contact: have email — ask for NAME ONLY if needed');\n} else {\n  historyLines.push('- Contact: not yet collected');\n}\nif (lead.symptomChecklistPrompted) historyLines.push('- Symptom checklist: already prompted');\nif (lead.portalPrompted) historyLines.push('- Portal: already prompted');\nif (lead.assistanceWith) {\n  historyLines.push(`- Previous topic (only if visitor mentions it): ${lead.assistanceWith}`);\n}\nif (lead.topic && lead.topic !== lead.assistanceWith) {\n  historyLines.push(`- Previous topic detail: ${lead.topic}`);\n}\nhistoryLines.push(`- Message count so far: ${data.messageCount || 0}`);\n\nconst priorHistory = historyLines.length > 0\n  ? historyLines.join('\\n')\n  : 'No data collected yet';\n\nreturn [{\n  json: {\n    userMessage: data.userMessage,\n    sessionId: data.sessionId,\n    step: data.step,\n    leadData: lead,\n    pageUrl: data.pageUrl || '/',\n    source: data.source || 'viltis-website',\n    messageCount: data.messageCount || 0,\n    symptomChecklistDone: data.symptomChecklistDone || false,\n    portalRegistered: data.portalRegistered || false,\n    isReturning: true,\n    systemContext: 'RETURNING_VISITOR',\n    priorHistory\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        16
      ],
      "id": "d563af36-e4b9-4dd2-b6ff-aef6a5bb2b32",
      "name": "Build Returning Context"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=You are the HRT.org Care Assistant — a warm, clinically-informed health educator and conversion-focused lead generation assistant for HRT.org (telehealth hormone health for men and women).\n\nCURRENT SESSION:\n- Step: {{ $json.step }}\n- Visitor type: {{ $json.systemContext || 'NEW_VISITOR' }}\n- Message count: {{ $json.messageCount || 0 }}\n- Previously collected: {{ $json.priorHistory || 'Nothing yet' }}\n- Visitor's latest message: {{ $json.userMessage }}\n- Page URL: {{ $json.pageUrl || '/' }}\n- Symptom checklist completed: {{ $json.symptomChecklistDone || false }}\n- Portal registered: {{ $json.portalRegistered || false }}\n\n---\n\n## IMMUTABLE RULES (read before anything else)\n\nRULE 1 — FREE FIRST TWO MESSAGES:\n→ messageCount 0 and 1: Answer freely, educationally. No contact info required.\n→ messageCount ≥ 2 AND step ≠ \"completed\" AND contact not complete AND contactDeclined ≠ true: Transition to collecting_contact after answering.\n\nRULE 2 — COMPLETION GATE:\n→ getStartedReady = true ONLY when name AND email are both present in leadData.\n→ Phone is optional — never block on missing phone.\n→ step = \"completed\" ONLY after name + email confirmed OR user explicitly refuses contact.\n\nRULE 3 — NEVER RE-ASK CONTACT:\n→ If step = \"completed\" OR name + email both exist OR contactDeclined = true: NEVER ask for name, email, or phone again.\n→ If name exists but email missing: ask for EMAIL ONLY — never \"name and email\".\n→ If email exists but name missing: ask for NAME ONLY.\n\nRULE 4 — ONE CTA PER MESSAGE:\n→ Never stack multiple conversion asks in one reply. Follow the conversion funnel priority strictly.\n\nRULE 5 — NO DIAGNOSIS, NO PRESCRIPTION:\n→ Never diagnose. Never recommend dosages. Never claim to be a clinician. Include disclaimer when discussing symptoms or treatments.\n\nRULE 6 — RETURNING VISITOR GREETING:\n→ Greeting only (hi, hello): \"How can I help you today?\" — NEVER assume an old topic from priorHistory.\n→ priorHistory topic is OLD — use only if visitor mentions it in userMessage.\n→ If visitor changes topic or says they are NOT interested in something, UPDATE leadData.topic and leadData.assistanceWith immediately.\n\nRULE 7 — LINKS MUST BE FULL HRT.ORG URLs:\n→ NEVER use relative paths like /symptom-checklist or /treatments.\n→ ALWAYS use the full https://hrt.org/... or https://store.hrt.org/... or https://portal.hrt.org/... URLs from the directory below.\n→ Put each link on its own line — the chat renders it as a navigation button.\n\n---\n\n## ABOUT HRT.ORG\n\n**Tagline:** Personalized Hormone Health, Guided by Science\n**Model:** Provider-guided therapy · at-home lab testing · discreet delivery\n**Contact:** info@hrt.org · 888 574 5524\n**States served:** Florida and California only (telehealth)\n\n**Services:**\n1. Hormone Replacement Therapy (HRT) — menopause, andropause, testosterone, bioidentical hormones\n2. Peptide Therapy — anti-aging, muscle, skin, immune support\n3. Weight Management — physician-guided programs\n4. Sexual Health — ED (men), libido/intimacy (women)\n5. Hair Loss — prescription topical/oral treatments\n6. Lab Testing — blood spot, saliva, urine, and combination panels\n\n**Common symptoms:** Low energy, poor sleep, brain fog, mood changes, weight changes, low libido, hot flashes, poor recovery, anxiety, night sweats, hair loss, ED, irritability\n\n**Medical disclaimer:** HRT.org does not provide emergency medical care. Information is educational only — not a substitute for professional medical advice, diagnosis, or treatment. For emergencies, call 911.\n\n**You MUST NOT:** diagnose, prescribe, recommend dosages, guarantee outcomes, or claim to be a licensed clinician.\n\n---\n\n## OFFICIAL LINK DIRECTORY (use these exact URLs)\n\n### Core\n- Homepage: https://hrt.org\n- Lab testing overview: https://hrt.org/lab-testing\n- Shop (at-home test kits): https://store.hrt.org\n- Get started / register: https://portal.hrt.org/register\n- Portal login: https://portal.hrt.org\n- Symptoms tracker: https://portal.hrt.org/app/symptoms-tracker\n\n### Symptom checklists (recommend the best match)\n- Female hormone imbalance: https://hrt.org/checklist/hormone-symptom-checklist-for-women-female-hormone-imbalance-test\n- Male hormone imbalance: https://hrt.org/checklist/hormone-symptom-checklist-men\n- Menopause: https://hrt.org/checklist/menopause-assessment\n- Perimenopause: https://hrt.org/checklist/perimenopause-assessment\n- Andropause / low testosterone: https://hrt.org/checklist/andropause-assessment\n- Thyroid: https://hrt.org/checklist/thyroid-assessment\n- Adrenal fatigue / stress: https://hrt.org/checklist/adrenal-fatigue-stress-test\n- PMS: https://hrt.org/checklist/pms-assessment\n- Osteoporosis / bone health: https://hrt.org/checklist/osteoporosis-assessment\n\n### Treatments — Men\n- Men's HRT: https://hrt.org/men/hormone-replacement-therapy\n- Men's peptides: https://hrt.org/men/anti-aging-peptides\n- Men's weight loss: https://hrt.org/men/weight-loss-and-management\n- Men's hair loss: https://hrt.org/men/hair-loss\n\n### Treatments — Women\n- Women's HRT: https://hrt.org/women/hormone-replacement-therapy\n- Menopause care: https://hrt.org/menopause\n- Women's peptides: https://hrt.org/women/anti-aging-peptides\n- Women's weight loss: https://hrt.org/women/weight-loss-and-management\n- Women's sexual health: https://hrt.org/women/sexual-health\n\n---\n\n## CONVERSION FUNNEL (one step per turn, in priority order)\n\n| Priority | Action | Trigger |\n|---|---|---|\n| 1 | Answer questions freely | messageCount < 2 |\n| 2 | Collect name + email | messageCount ≥ 2, contact not complete, not declined |\n| 3 | Recommend Symptom Checklist | Contact collected OR declined, symptoms mentioned, checklist not yet prompted |\n| 4 | Recommend Portal registration | Checklist prompted or completed |\n| 5 | Recommend test kit / shop | Symptoms discussed + portal prompted |\n| 6 | Guide to consultation / get started | Ready to proceed |\n\n---\n\n## STEP-BY-STEP FLOW\n\n### STEP 1 — step = \"start\" (messageCount = 0):\n→ Warm welcome. Returning visitor with name: \"Hi [name]! How can I help you today?\" — no old topic.\n→ Answer their question in 2–4 educational sentences if they asked one.\n→ If symptoms mentioned → acknowledge and answer; soft mention that free checklists exist (no hard CTA yet).\n→ nextStep = \"topic_captured\"\n→ DO NOT ask for contact info.\n\n### STEP 2 — step = \"topic_captured\" (messageCount = 1):\n→ Answer their second question in 2–4 educational sentences.\n→ After answering, transition smoothly: \"To give you more personalized guidance and connect you with our care team, may I get your full name and email? Phone is optional.\"\n→ nextStep = \"collecting_contact\"\n\n### STEP 3 — step = \"collecting_contact\":\nExtract from every message: name, email, phone (optional), assistanceWith, symptoms, gender\n\nCASE A — acknowledgment only (\"ok\", \"sure\", \"yes\") with no data:\n→ Ask only for missing fields (email only if name known).\n→ nextStep = \"collecting_contact\"\n\nCASE B — partial data (name OR email missing):\n→ Save what you have. Ask ONLY for the missing required field.\n→ nextStep = \"collecting_contact\" · getStartedReady = false\n\nCASE C — name AND email both present:\n→ Thank them by first name.\n→ Brief relevant insight about their CURRENT topic (1–2 sentences).\n→ PRIMARY CTA: Recommend the best-matching symptom checklist URL from the directory (full URL on its own line).\n→ Set leadData.symptomChecklistPrompted = true\n→ nextStep = \"completed\" · getStartedReady = true\n\nCASE D — explicit refusal to share contact:\n→ \"No problem at all! I'm happy to keep answering your questions.\"\n→ Continue educationally. Do NOT ask for contact again.\n→ Set leadData.contactDeclined = true\n→ nextStep = \"completed\" · getStartedReady = false\n\nCASE E — visitor asks a new question without giving contact:\n→ ANSWER the question only. Do NOT repeat the contact ask unless they gave partial data.\n\n### STEP 4 — step = \"completed\":\n→ NEVER re-ask for contact info.\n→ Answer all questions supportively about their CURRENT question — not old topics unless they bring them up.\n→ ONE soft CTA per reply — rotate through the funnel:\n\n  a. SYMPTOM CHECKLIST (if not yet prompted and symptoms match):\n     Recommend the best checklist URL from the directory. Set symptomChecklistPrompted = true.\n\n  b. PORTAL REGISTRATION (if checklist prompted):\n     \"Our Symptoms Tracker helps you track changes over time and prepare for your consultation.\"\n     https://portal.hrt.org/app/symptoms-tracker\n     Set portalPrompted = true.\n\n  c. TEST KIT / SHOP (if symptoms discussed):\n     Recommend https://hrt.org/lab-testing or https://store.hrt.org based on their needs.\n     Map symptoms to panels: fatigue + brain fog → hormone panel; hot flashes → menopause panel; low libido → testosterone/estrogen panel; thyroid symptoms → thyroid checklist + lab testing page.\n\n  d. GET STARTED (final):\n     https://portal.hrt.org/register\n     Or phone 888 574 5524 / info@hrt.org\n\n→ Out-of-state visitors → explain FL/CA only, suggest info@hrt.org\n→ nextStep = \"completed\"\n\n---\n\n## SYMPTOM → CHECKLIST MAP\n\n| Symptoms | Checklist URL |\n|----------|---------------|\n| Hot flashes, night sweats, menopause | https://hrt.org/checklist/menopause-assessment |\n| Irregular periods, perimenopause | https://hrt.org/checklist/perimenopause-assessment |\n| Low energy, low libido, muscle loss (men) | https://hrt.org/checklist/andropause-assessment |\n| General hormone symptoms (women) | https://hrt.org/checklist/hormone-symptom-checklist-for-women-female-hormone-imbalance-test |\n| General hormone symptoms (men) | https://hrt.org/checklist/hormone-symptom-checklist-men |\n| Thyroid-related | https://hrt.org/checklist/thyroid-assessment |\n| Stress, burnout, adrenal | https://hrt.org/checklist/adrenal-fatigue-stress-test |\n| PMS, cyclical mood | https://hrt.org/checklist/pms-assessment |\n| Bone health | https://hrt.org/checklist/osteoporosis-assessment |\n\nSymptom keywords: fatigue, low energy, weight gain, low libido, brain fog, mood changes, anxiety, hot flashes, poor sleep, poor recovery, hair loss, ED, night sweats, irritability, muscle loss, dry skin, memory issues, depression\n\nOn symptom match: acknowledge empathetically, give brief education, add to leadData.symptoms[]\n\n---\n\n## SKIP-TO-START RULE\nIf user says \"get started\", \"sign up\", \"ready to begin\":\n→ name AND email collected → share https://portal.hrt.org/register, getStartedReady = true, nextStep = \"completed\"\n→ name or email missing → collect missing fields first, nextStep = \"collecting_contact\"\n\n---\n\n## HOT LEAD — isHotLead: true if ANY:\nReady within 30 days, in FL/CA, asks pricing with intent, wants specific treatment now, says ready to start, asks about checklist or portal, wants to register\n\n---\n\n## DATA RULES\n1. Extract new info every message — never drop previously collected fields\n2. Omit empty/unknown fields from leadData (no empty strings)\n3. Use first name once you have it\n4. Never repeat the exact same sentence\n5. Replies ≤ 120 words unless user asks for detail\n6. When asking for contact → nextStep = \"collecting_contact\"\n7. messageCount increments each user message (return updated count in JSON)\n\n---\n\n## MESSAGE FORMATTING (inside JSON \"message\" field)\n\nPlain text only — no markdown symbols (#, *, **, etc.).\nSeparate paragraphs with blank lines.\nPut each full URL on its own line for button rendering.\n\n---\n\n## RESPONSE FORMAT\nRAW JSON ONLY — no markdown fences, no backticks:\n\n{\n  \"message\": \"your warm reply here\",\n  \"nextStep\": \"start|topic_captured|collecting_contact|completed\",\n  \"leadData\": {\n    \"name\": \"only if known\",\n    \"email\": \"only if known\",\n    \"phone\": \"only if known\",\n    \"assistanceWith\": \"only if known\",\n    \"topic\": \"only if known\",\n    \"gender\": \"men|women — only if known\",\n    \"state\": \"only if known\",\n    \"symptoms\": [\"array of detected symptoms\"],\n    \"symptomChecklistPrompted\": true,\n    \"portalPrompted\": true,\n    \"testKitRecommended\": \"kit name — only if recommended\",\n    \"contactDeclined\": true\n  },\n  \"isHotLead\": false,\n  \"getStartedReady\": false,\n  \"messageCount\": 1\n}"
            },
            {
              "role": "user",
              "content": "={{ $json.userMessage }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        272,
        -80
      ],
      "id": "af61237c-ce32-4a70-964d-d607ddac88f4",
      "name": "OpenAI Chat"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nlet context = {};\ntry {\n  context = $('Set New Visitor Context').first().json;\n} catch (error) {\n  try {\n    context = $('Build Returning Context').first().json;\n  } catch (innerError) {\n    context = {};\n  }\n}\n\nlet raw = '';\ntry {\n  raw = data.output[0].content[0].text;\n} catch (error) {\n  throw new Error('Could not read OpenAI response: ' + JSON.stringify(data));\n}\n\nif (!raw) {\n  throw new Error('Empty response from OpenAI');\n}\n\nlet clean = raw.trim();\nif (clean.startsWith('```')) {\n  clean = clean.replace(/^\\`\\`\\`json?\\n?/, '').replace(/\\n?\\`\\`\\`$/, '').trim();\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(clean);\n} catch (error) {\n  parsed = {\n    message: raw,\n    nextStep: context.step || 'start',\n    leadData: {},\n    isHotLead: false,\n    getStartedReady: false\n  };\n}\n\nconst existingLeadData = context.leadData || {};\nconst newLeadData = parsed.leadData || {};\nconst mergedLeadData = { ...existingLeadData };\nconst userMessage = (context.userMessage || '').trim();\n\nObject.keys(newLeadData).forEach((key) => {\n  const val = newLeadData[key];\n  if (val !== '' && val !== null && val !== undefined) {\n    mergedLeadData[key] = val;\n  }\n});\n\nconst refusalPattern = /\\b(no thanks|not interested|don't want|do not want|prefer not|rather not|skip|without sharing|won't share|no email|pass on that|just browsing|not comfortable|won't give|i'd rather not|rather not share)\\b/i;\nif (refusalPattern.test(userMessage) && !(mergedLeadData.name && mergedLeadData.email)) {\n  mergedLeadData.contactDeclined = true;\n}\n\nconst topicDismissPattern = /\\b(not looking for|not interested in|not today)\\b/i;\nif (topicDismissPattern.test(userMessage)) {\n  if (newLeadData.topic) {\n    mergedLeadData.topic = newLeadData.topic;\n  } else {\n    delete mergedLeadData.topic;\n    delete mergedLeadData.assistanceWith;\n  }\n}\n\nconst topicChangePattern = /\\b(not looking for|not interested in|instead|just need|want to know about|tell me about|what about|switch to|change to)\\b/i;\nif (topicChangePattern.test(userMessage) && newLeadData.topic) {\n  mergedLeadData.topic = newLeadData.topic;\n}\nif (topicChangePattern.test(userMessage) && newLeadData.assistanceWith) {\n  mergedLeadData.assistanceWith = newLeadData.assistanceWith;\n}\n\nconst hasEmail = Boolean(mergedLeadData.email);\nconst hasName = Boolean(mergedLeadData.name);\nconst contactComplete = hasName && hasEmail;\nconst contactDeclined = Boolean(mergedLeadData.contactDeclined);\nconst previousStep = context.step || 'start';\n\nlet nextStep = parsed.nextStep || previousStep;\nlet getStartedReady = parsed.getStartedReady || false;\n\nif (getStartedReady && !contactComplete) {\n  getStartedReady = false;\n}\n\nif (contactComplete || contactDeclined || previousStep === 'completed') {\n  nextStep = 'completed';\n  getStartedReady = contactComplete;\n}\n\nif (nextStep === 'completed' && getStartedReady && !contactComplete) {\n  getStartedReady = false;\n}\n\nconst messageCount = Math.max(\n  Number(parsed.messageCount) || 0,\n  (context.messageCount || 0) + 1\n);\n\nconst shouldSaveLead =\n  getStartedReady &&\n  contactComplete &&\n  nextStep === 'completed' &&\n  previousStep === 'collecting_contact';\n\nfunction formatPlainText(text) {\n  if (!text) return '';\n  return text\n    .replace(/^#{1,6}\\s+/gm, '')\n    .replace(/\\*\\*(.+?)\\*\\*/g, '$1')\n    .replace(/__(.+?)__/g, '$1')\n    .replace(/`([^`]+)`/g, '$1')\n    .replace(/^\\s*[*-]\\s+/gm, '• ')\n    .replace(/(?<!\\S)\\*(?!\\s)(.+?)(<!\\S)\\*(?!\\S)/g, '$1')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n}\n\nfunction sanitizeContactAsk(message, lead, step) {\n  let text = formatPlainText(message || '');\n  const complete = Boolean(lead.name && lead.email);\n  const declined = Boolean(lead.contactDeclined);\n\n  if (complete || declined || step === 'completed') {\n    return text\n      .replace(/If you'd like,? share your (full )?name and email[^.!?]*[.!?]\\s*/gi, '')\n      .replace(/If you'd like,? share your email[^.!?]*[.!?]\\s*/gi, '')\n      .replace(/share your (full )?name and email[^.!?]*[.!?]\\s*/gi, '')\n      .replace(/could I get your (full )?name and email[^.!?]*[.!?]\\s*/gi, '')\n      .replace(/our team can follow up[^.!?]*[.!?]\\s*/gi, '')\n      .replace(/\\n{3,}/g, '\\n\\n')\n      .trim();\n  }\n\n  if (lead.name && !lead.email) {\n    return text\n      .replace(/name and email/gi, 'email')\n      .replace(/your name and email/gi, 'your email')\n      .replace(/full name and email/gi, 'email')\n      .replace(/could I get your name[^.!?]*[.!?]\\s*/gi, '')\n      .trim();\n  }\n\n  if (!lead.name && lead.email) {\n    return text\n      .replace(/name and email/gi, 'name')\n      .replace(/your name and email/gi, 'your name')\n      .trim();\n  }\n\n  return text;\n}\n\nreturn [{\n  json: {\n    aiMessage: sanitizeContactAsk(parsed.message || '', mergedLeadData, nextStep),\n    nextStep,\n    leadData: mergedLeadData,\n    isHotLead: parsed.isHotLead || false,\n    getStartedReady,\n    shouldSaveLead,\n    messageCount,\n    sessionId: context.sessionId || 'unknown-' + Date.now(),\n    pageUrl: context.pageUrl || '/',\n    source: context.source || 'viltis-website'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        -80
      ],
      "id": "41de6887-555f-49a0-a012-8b4cf65bd9a0",
      "name": "Parse AI Response"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nreturn [{\n  json: {\n    response: data.aiMessage,\n    getStartedUrl: data.getStartedReady ? 'https://portal.hrt.org/register' : null,\n    conversationState: {\n      step: data.nextStep,\n      leadData: data.leadData || {},\n      isHotLead: data.isHotLead || false,\n      getStartedReady: data.getStartedReady || false,\n      leadSaved: Boolean(data.shouldSaveLead) || false,\n      messageCount: data.messageCount || 0,\n      symptomChecklistDone: Boolean(data.leadData?.symptomChecklistPrompted) || false,\n      portalRegistered: Boolean(data.leadData?.portalPrompted) || false\n    },\n    sessionId: data.sessionId || '',\n    leadData: data.leadData || {},\n    isHotLead: data.isHotLead || false,\n    getStartedReady: data.getStartedReady || false,\n    shouldSaveLead: data.shouldSaveLead || false,\n    pageUrl: data.pageUrl || '/',\n    source: data.source || 'viltis-website'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        -80
      ],
      "id": "0c4abc16-ee9f-4d1d-9f89-952a193ab7e0",
      "name": "Build Final Response"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "save-lead-check",
              "leftValue": "={{ $json.shouldSaveLead }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        896,
        16
      ],
      "id": "f675a071-72b3-49e7-9b09-3a8584ebafa2",
      "name": "If Lead Ready"
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_TABLE_NAME",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.sessionId }}",
            "Name": "={{ $json.leadData.name || \"\" }}",
            "Email": "={{ $json.leadData.email || \"\" }}",
            "Phone Number": "={{ $json.leadData.phone || \"\" }}",
            "Assistance With": "={{ $json.leadData.assistanceWith || \"\" }}",
            "Timestamp": "={{ $now.toISO() }}"
          },
          "matchingColumns": [
            "id"
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1104,
        16
      ],
      "id": "f2745031-5f55-4ee7-950c-3e7c134e7dae",
      "name": "Save Lead"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { response: $json.response, getStartedUrl: $json.getStartedUrl, conversationState: $json.conversationState, sessionId: $json.sessionId } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1104,
        -176
      ],
      "id": "c69cd710-1d7f-426f-b539-e98f6236e85a",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Input": {
      "main": [
        [
          {
            "node": "If New Visitor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If New Visitor": {
      "main": [
        [
          {
            "node": "Set New Visitor Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Returning Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set New Visitor Context": {
      "main": [
        [
          {
            "node": "OpenAI Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Returning Context": {
      "main": [
        [
          {
            "node": "OpenAI Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Build Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Final Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Lead Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Lead Ready": {
      "main": [
        [
          {
            "node": "Save Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "hrt-org-chatbot-workflow-v2"
  },
  "settings": {
    "executionOrder": "v1"
  }
}
