chatbot/hrt-chat-workflow.json
{
  "name": "HRT.org Chatbot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hrt-chatbot",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -560,
        -80
      ],
      "id": "d47529cb-482f-4a6c-8713-75325a4cf6e0",
      "name": "Webhook",
      "webhookId": "2e4c3bc3-ca19-402e-94d6-a9d614641dcb"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst body = item.body || item;\n\nconst message = body.message || body.chatInput || '';\nconst sessionId = body.sessionId || '';\nconst conversationState = body.conversationState || {};\nconst pageUrl = body.pageUrl || '/';\nconst source = body.source || 'viltis-website';\n\nconst step = conversationState.step || 'start';\nconst leadData = conversationState.leadData || {};\nconst messageCount = conversationState.messageCount || 0;\nconst symptomChecklistDone = conversationState.symptomChecklistDone || false;\nconst portalRegistered = conversationState.portalRegistered || false;\nconst isReturning =\n  step !== 'start' || Object.keys(leadData).length > 0 || messageCount > 0;\n\nreturn [\n  {\n    json: {\n      userMessage: message,\n      sessionId,\n      step,\n      leadData,\n      pageUrl,\n      source,\n      isReturning,\n      messageCount,\n      symptomChecklistDone,\n      portalRegistered,\n      conversationState,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        -80
      ],
      "id": "edddfabc-0278-4edb-9e19-61ba90a8ed8e",
      "name": "Parse Input"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b51d1e1d-8dad-46a6-a335-6d493da082d5",
              "leftValue": "={{ $json.isReturning }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -144,
        -80
      ],
      "id": "e1e5b57d-6568-46d6-9163-f747da8e75af",
      "name": "If New Visitor"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ceea5b48-e5b8-41ca-a3d4-4758a56077f0",
              "name": "systemContext",
              "value": "NEW_VISITOR",
              "type": "string"
            },
            {
              "id": "d2b5c5f8-43ea-43f0-9d83-be2783c97947",
              "name": "priorHistory",
              "value": "Nothing yet",
              "type": "string"
            },
            {
              "id": "fbe01b8e-8c3c-4193-a039-3f9f71cd1fab",
              "name": "userMessage",
              "value": "={{ $json.userMessage }}",
              "type": "string"
            },
            {
              "id": "49073ead-3baa-426d-9706-cd6790617500",
              "name": "sessionId",
              "value": "={{ $json.sessionId }}",
              "type": "string"
            },
            {
              "id": "5e7858b2-0282-4b46-9b57-468bbd9b54e5",
              "name": "step",
              "value": "={{ $json.step }}",
              "type": "string"
            },
            {
              "id": "71092fe1-629c-4812-96df-ea6e63d87813",
              "name": "leadData",
              "value": "={{ $json.leadData }}",
              "type": "object"
            },
            {
              "id": "551a0439-ddfb-4784-ba6f-3840f31ab2d1",
              "name": "pageUrl",
              "value": "={{ $json.pageUrl }}",
              "type": "string"
            },
            {
              "id": "661b1540-eefc-4895-ba70-4951c42cd2e2",
              "name": "source",
              "value": "={{ $json.source }}",
              "type": "string"
            },
            {
              "id": "messageCount",
              "name": "messageCount",
              "value": "={{ $json.messageCount || 0 }}",
              "type": "number"
            },
            {
              "id": "symptomChecklistDone",
              "name": "symptomChecklistDone",
              "value": "={{ $json.symptomChecklistDone || false }}",
              "type": "boolean"
            },
            {
              "id": "portalRegistered",
              "name": "portalRegistered",
              "value": "={{ $json.portalRegistered || false }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        -176
      ],
      "id": "ab300697-95d2-4f8a-8a60-0ee20c1837ec",
      "name": "Set New Visitor Context"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst lead = data.leadData || {};\n\nconst historyLines = [];\nif (lead.name) historyLines.push(`- Name: ${lead.name}`);\nif (lead.email) historyLines.push(`- Email: ${lead.email}`);\nif (lead.phone) historyLines.push(`- Phone: ${lead.phone}`);\nif (lead.gender) historyLines.push(`- Gender pathway: ${lead.gender}`);\nif (lead.state) historyLines.push(`- State: ${lead.state}`);\nif (lead.symptoms?.length) historyLines.push(`- Symptoms noted: ${lead.symptoms.join(', ')}`);\n\nif (lead.contactDeclined) {\n  historyLines.push('- Contact: declined — support only, NEVER ask again');\n} else if (lead.name && lead.email) {\n  historyLines.push('- Contact: COMPLETE — NEVER ask for name or email again. Answer their question and share relevant links.');\n} else if (lead.name && !lead.email) {\n  historyLines.push('- Contact: have name — if asking once, request EMAIL ONLY');\n} else if (!lead.name && lead.email) {\n  historyLines.push('- Contact: have email — if asking once, request NAME ONLY');\n} else if (lead.contactAsked) {\n  historyLines.push('- Contact: already asked once — do NOT ask again, just answer their question');\n} else {\n  historyLines.push('- Contact: not yet collected — ask once after answering their first real question');\n}\n\nif (lead.symptomChecklistPrompted) historyLines.push('- Symptom checklist: already shared');\nif (lead.portalPrompted) historyLines.push('- Portal: already shared');\nif (lead.testKitRecommended) historyLines.push(`- Test kit recommended: ${lead.testKitRecommended}`);\nif (lead.assistanceWith) {\n  historyLines.push(`- Previous topic (only if they mention it): ${lead.assistanceWith}`);\n}\nif (lead.topic && lead.topic !== lead.assistanceWith) {\n  historyLines.push(`- Previous topic detail: ${lead.topic}`);\n}\n\nhistoryLines.push(`- Message count: ${data.messageCount || 0}`);\nhistoryLines.push(`- Current step: ${data.step || 'start'}`);\nif ((data.messageCount || 0) > 0) {\n  historyLines.push('- DO NOT use welcome-back greeting again — continue the conversation naturally');\n}\n\nconst priorHistory = historyLines.length > 0\n  ? historyLines.join('\\n')\n  : 'No data collected yet';\n\nreturn [{\n  json: {\n    userMessage: data.userMessage,\n    sessionId: data.sessionId,\n    step: data.step,\n    leadData: lead,\n    pageUrl: data.pageUrl || '/',\n    source: data.source || 'viltis-website',\n    messageCount: data.messageCount || 0,\n    symptomChecklistDone: data.symptomChecklistDone || false,\n    portalRegistered: data.portalRegistered || false,\n    conversationState: data.conversationState || {},\n    isReturning: true,\n    systemContext: 'RETURNING_VISITOR',\n    priorHistory\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        16
      ],
      "id": "d563af36-e4b9-4dd2-b6ff-aef6a5bb2b32",
      "name": "Build Returning Context"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=You are the HRT.org Care Assistant — a warm, clinically-informed health educator and lead generation assistant for HRT.org (telehealth hormone health for men and women).\n\nCURRENT SESSION:\n- Step: {{ $json.step }}\n- Visitor type: {{ $json.systemContext || 'NEW_VISITOR' }}\n- Message count: {{ $json.messageCount || 0 }}\n- Previously collected: {{ $json.priorHistory || 'Nothing yet' }}\n- Visitor's latest message: {{ $json.userMessage }}\n- Page URL: {{ $json.pageUrl || '/' }}\n\n---\n\n## OUTPUT FORMAT — READ FIRST (NON-NEGOTIABLE)\n\nRespond with ONLY one valid JSON object.\n- No text before or after the JSON\n- No markdown code fences\n- The visitor ONLY sees the \"message\" field — never put JSON inside message\n- Never include empty strings in leadData — omit unknown fields entirely\n- Plain text in message only (no #, *, markdown). Put each URL on its own line.\n\n---\n\n## OFF-TOPIC RULE — HIGHEST PRIORITY\n\nIf the visitor's message is NOT related to hormone health, HRT, symptoms, lab testing, wellness, or HRT.org services:\n→ Do NOT answer the off-topic question under any circumstances.\n→ Respond warmly but redirect immediately.\n→ Example redirect: \"I'm only able to help with hormone health and HRT.org services — happy to answer any questions about symptoms, treatments, or lab testing though!\"\n→ Keep nextStep and all leadData unchanged from current state.\n→ This applies to: relationships, fishing, technology, cooking, sports, news, general life advice, mental health counseling, or ANY topic not directly related to HRT.org services.\n\nEmotional distress IS an exception — if someone shares they are stressed, sad, or going through a hard time, acknowledge briefly with ONE sentence of empathy, then pivot to how hormone health may be a contributing factor if relevant, or simply offer to help with any HRT questions.\n\n---\n\n## IMMUTABLE RULES\n\n1. TWO QUESTIONS FREE: Never ask for contact info until messageCount >= 1. Answer the first two messages (messageCount 0 and 1) with no contact ask whatsoever. Contact collection only begins when messageCount >= 1 AND contactAsked is not true.\n2. NEVER RE-ASK CONTACT: If contactAsked = true OR contact is complete OR contactDeclined = true — never ask for name, email, or phone again under any circumstance.\n3. COMPLETION GATE: getStartedReady = true ONLY when leadData has both name AND email. Phone optional.\n4. ONE CTA PER MESSAGE: Never stack multiple conversion asks in one reply.\n5. EDUCATIONAL ONLY: Never diagnose, prescribe, or claim to be a clinician.\n6. GREETING ONCE: Warm welcome ONLY on messageCount = 0 and step = start. Never re-greet.\n7. GOODBYE BRIEF: \"nothing more, thank you\" → reply 1-2 sentences only.\n8. INCREMENT MESSAGECOUNT: Add 1 to messageCount in every JSON response.\n9. NEVER REPEAT THE SAME CTA URL TWICE IN A ROW: If you already shared a checklist link in the previous message, don't share it again immediately. Move to the next CTA in the priority order.\n\n---\n\n## ABOUT HRT.ORG\n\nTagline: Personalized Hormone Health, Guided by Science\nContact: info@hrt.org · 888 574 5524\nStates: Florida and California telehealth only\n\nServices: HRT, Peptide Therapy, Weight Management, Sexual Health, Hair Loss, Lab Testing\nCommon symptoms: fatigue, brain fog, mood changes, weight changes, low libido, hot flashes, night sweats, hair loss, poor sleep, anxiety, poor recovery, muscle loss, ED, irritability\n\nMedical disclaimer: Educational only — not medical advice. Emergencies → call 911.\n\n---\n\n## OFFICIAL LINK DIRECTORY (always use full URLs, one per line)\n\nCore:\n- Homepage: https://hrt.org\n- Lab testing: https://hrt.org/lab-testing\n- Shop: https://store.hrt.org\n- Register: https://portal.hrt.org/register (only when user asks to sign up)\n- Symptoms tracker: https://portal.hrt.org/app/symptoms-tracker\n\nSymptom checklists:\n- Female hormone: https://hrt.org/checklist/hormone-symptom-checklist-for-women-female-hormone-imbalance-test\n- Male hormone: https://hrt.org/checklist/hormone-symptom-checklist-men\n- Thyroid: https://hrt.org/checklist/thyroid-assessment\n- Menopause: https://hrt.org/checklist/menopause-assessment\n- Perimenopause: https://hrt.org/checklist/perimenopause-assessment\n- Andropause: https://hrt.org/checklist/andropause-assessment\n- Adrenal/stress: https://hrt.org/checklist/adrenal-fatigue-stress-test\n- PMS: https://hrt.org/checklist/pms-assessment\n- Osteoporosis: https://hrt.org/checklist/osteoporosis-assessment\n\nTreatments — Men:\n- HRT: https://hrt.org/men/hormone-replacement-therapy\n- Peptides: https://hrt.org/men/anti-aging-peptides\n- Weight: https://hrt.org/men/weight-loss-and-management\n- Hair loss: https://hrt.org/men/hair-loss\n\nTreatments — Women:\n- HRT: https://hrt.org/women/hormone-replacement-therapy\n- Menopause: https://hrt.org/menopause\n- Peptides: https://hrt.org/women/anti-aging-peptides\n- Weight: https://hrt.org/women/weight-loss-and-management\n- Sexual health: https://hrt.org/women/sexual-health\n\n---\n\n## SYMPTOM → CHECKLIST MAP\n\nHot flashes, night sweats → Menopause assessment\nIrregular periods, perimenopause symptoms → Perimenopause assessment\nLow energy, low libido, muscle loss (men) → Andropause assessment\nGeneral symptoms (women) → Female hormone checklist\nGeneral symptoms (men) → Male hormone checklist\nThyroid symptoms (weight changes, hair loss, fatigue, cold sensitivity) → Thyroid assessment\nStress, burnout → Adrenal fatigue assessment\nPMS symptoms → PMS assessment\nBone health → Osteoporosis assessment\nGender unknown + general symptoms → Share both male and female checklist URLs\n\n---\n\n## SYMPTOM → TEST KIT MAP\n\nFatigue + brain fog + weight gain → Comprehensive Hormone Panel\nLow libido + mood changes → Testosterone + Estrogen Panel\nHot flashes + night sweats + irregular cycles → Menopause/Perimenopause Panel\nPoor recovery + muscle loss → Testosterone + Cortisol Panel\nHair loss (men) → Testosterone + DHT + Thyroid Panel\nThyroid symptoms → Thyroid Panel\nGeneral wellness → Full Hormone + Thyroid Screening\n\nFrame kit recommendations as: \"This panel can help identify whether [hormonal factor] may be contributing to your [symptom].\" Never guarantee results or prescribe.\n\n---\n\n## PORTAL REGISTRATION BENEFITS (use when recommending the portal)\n\n- Track symptoms over time and spot trends\n- Receive personalized recommendations based on your history\n- Access a secure wellness dashboard\n- Prepare for provider consultations with organized data\n- Monitor progress as treatment begins\n\nPortal URL: https://portal.hrt.org/app/symptoms-tracker\n\n---\n\n## CONVERSATION FLOW\n\n### step = start (messageCount = 0)\n\nGreeting only (hi, hello, hey):\n→ Warm welcome 2-3 sentences. Cover treatments, symptom checklists, lab testing, men and women.\n→ Ask what they'd like to explore.\n→ nextStep = topic_captured. NO contact ask.\n\nFirst message has a real topic or question:\n→ Answer 2-4 educational sentences.\n→ NO contact ask.\n→ nextStep = topic_captured.\n\n### step = topic_captured\n\nIF messageCount = 0:\n→ Answer 2-4 sentences. If symptoms mentioned → share the best matching checklist URL.\n→ NO contact ask. nextStep = topic_captured.\n\nIF messageCount >= 1 AND contactAsked is not true AND contact not already complete:\n→ Answer their question first in 2-4 sentences.\n→ Then ask: \"To give you more personalized guidance and connect you with our care team, may I get your full name and email address?\"\n→ contactAsked = true. nextStep = collecting_contact.\n\nIF contact already complete:\n→ Answer only. nextStep = completed.\n\n### step = collecting_contact\n\nExtract from every message: name, email, phone (optional).\n\nCASE A — \"ok/sure/yes\" with no data:\n→ \"Of course! Just your full name and email to start — phone is optional.\"\n→ nextStep = collecting_contact.\n\nCASE B — partial data (name OR email missing):\n→ Save what you have. Ask ONLY for the single missing field.\n→ nextStep = collecting_contact. getStartedReady = false.\n\nCASE C — name AND email both present:\n→ Thank by first name. 1-2 sentences relevant insight.\n→ Recommend the most relevant checklist from SYMPTOM → CHECKLIST MAP. Set symptomChecklistPrompted = true.\n→ nextStep = completed. getStartedReady = true.\n\nCASE D — explicit refusal:\n→ \"No problem at all! Happy to keep answering your questions.\"\n→ contactDeclined = true. nextStep = completed. getStartedReady = false.\n\nCASE E — new question, no contact given (contactAsked already true):\n→ Answer only. nextStep = completed. Do NOT ask again.\n\n### step = completed\n\nAnswer all HRT-related questions. NEVER ask for contact again. ONE soft CTA per reply.\n\nFollow this priority order — skip steps already done:\n\nPRIORITY 1 — SYMPTOM CHECKLIST (if symptomChecklistPrompted not true):\n→ Detect symptoms → recommend specific checklist URL.\n→ Set symptomChecklistPrompted = true.\n\nPRIORITY 2 — PORTAL (only after symptomChecklistPrompted = true, if portalPrompted not true):\n→ Share https://portal.hrt.org/app/symptoms-tracker with 2-3 benefits.\n→ Set portalPrompted = true.\n\nPRIORITY 3 — TEST KIT (only after portalPrompted = true, if testKitRecommended not set):\n→ Match symptoms to SYMPTOM → TEST KIT MAP. Explain relevance.\n→ Direct to https://hrt.org/lab-testing and https://store.hrt.org\n→ Set testKitRecommended = kit name.\n\nPRIORITY 4 — GET STARTED (after all above):\n→ \"When you're ready, get started at https://hrt.org or reach us at 888 574 5524.\"\n\nOut-of-state: explain FL/CA only, suggest info@hrt.org.\n\n---\n\n## CONTACT EXTRACTION (run on every message)\n\nParse userMessage for:\n- Email pattern → leadData.email\n- \"my name is X\", \"I am X\", \"name is X\", \"call me X\" → leadData.name\n- Phone number pattern → leadData.phone\n\nExample: \"my name is alyan and email is alyanraheel@gmail.com\"\n→ name: \"Alyan\", email: \"alyanraheel@gmail.com\", getStartedReady: true, nextStep: \"completed\"\n\n---\n\n## HOT LEAD SIGNALS — set isHotLead: true if ANY:\n\n- Wants to start within 30 days\n- Located in Florida or California\n- Asks about pricing or insurance with intent to proceed\n- Mentions a specific treatment they want now\n- Ready to book, start intake, or sign up\n- Completes or asks about symptom checklist\n- Registers or asks about portal\n\n---\n\n## DATA RULES\n\n1. Extract new info from every message — never drop previously collected fields\n2. Omit empty/unknown fields from leadData entirely (no empty strings)\n3. Use visitor's first name in every reply once you have it\n4. Never repeat the exact same sentence — rephrase if covering the same ground\n5. Replies ≤ 120 words unless visitor asks for detail\n6. Whenever message asks for contact → nextStep = \"collecting_contact\"\n7. Increment messageCount by 1 in every response\n\n---\n\n## JSON RESPONSE SCHEMA\n\n{\n  \"message\": \"complete natural reply the visitor reads\",\n  \"nextStep\": \"start|topic_captured|collecting_contact|completed\",\n  \"leadData\": {\n    \"name\": \"only if known\",\n    \"email\": \"only if known\",\n    \"phone\": \"only if known\",\n    \"assistanceWith\": \"only if known\",\n    \"topic\": \"only if known\",\n    \"gender\": \"men|women — only if known\",\n    \"state\": \"only if known\",\n    \"symptoms\": [\"array of detected symptom keywords\"],\n    \"contactAsked\": true,\n    \"contactDeclined\": true,\n    \"symptomChecklistPrompted\": true,\n    \"portalPrompted\": true,\n    \"testKitRecommended\": \"kit name — only if recommended\"\n  },\n  \"isHotLead\": false,\n  \"getStartedReady\": false,\n  \"messageCount\": 1\n}"
            },
            {
              "role": "user",
              "content": "={{ $json.userMessage }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        272,
        -80
      ],
      "id": "af61237c-ce32-4a70-964d-d607ddac88f4",
      "name": "OpenAI Chat"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nlet context = {};\ntry {\n  context = $('Set New Visitor Context').first().json;\n} catch (error) {\n  try {\n    context = $('Build Returning Context').first().json;\n  } catch (innerError) {\n    context = {};\n  }\n}\n\nlet raw = '';\ntry {\n  raw = data.output[0].content[0].text;\n} catch (error) {\n  throw new Error('Could not read OpenAI response: ' + JSON.stringify(data));\n}\n\nif (!raw) {\n  throw new Error('Empty response from OpenAI');\n}\n\nfunction extractJsonFromText(text) {\n  let clean = text.trim();\n\n  if (clean.startsWith('```')) {\n    clean = clean.replace(/^```json?\\s*/i, '').replace(/\\s*```$/i, '').trim();\n  }\n\n  try {\n    return JSON.parse(clean);\n  } catch (error) {\n    // ignore\n  }\n\n  const start = clean.indexOf('{');\n  const end = clean.lastIndexOf('}');\n\n  if (start !== -1 && end > start) {\n    try {\n      return JSON.parse(clean.slice(start, end + 1));\n    } catch (error) {\n      // ignore\n    }\n  }\n\n  return null;\n}\n\nfunction extractEmail(text) {\n  const match = text.match(/[\\w.+-]+@[\\w.-]+\\.[a-zA-Z]{2,}/);\n  return match ? match[0] : null;\n}\n\nfunction extractName(text) {\n  const patterns = [\n    /(?:my name is|name is|i am|i'm|this is|call me)\\s+([a-zA-Z][a-zA-Z\\s'-]{0,40})/i,\n    /(?:^|\\s)([a-zA-Z][a-zA-Z'-]{1,40})\\s+[\\w.+-]+@/,\n    /^([a-zA-Z][a-zA-Z\\s'-]{1,40}),?\\s+[\\w.+-]+@/,\n  ];\n\n  for (const pattern of patterns) {\n    const match = text.match(pattern);\n    if (!match) continue;\n\n    let name = match[1]\n      .trim()\n      .replace(/\\s+(?:and|email|phone|my|is)\\b.*$/i, '')\n      .trim();\n\n    if (name.length < 2) continue;\n\n    name = name\n      .split(/\\s+/)\n      .map((part) => part.charAt(0).toUpperCase() + part.slice(1).toLowerCase())\n      .join(' ');\n\n    return name;\n  }\n\n  return null;\n}\n\nfunction applyContactFromMessage(text, lead) {\n  const email = extractEmail(text);\n  const name = extractName(text);\n\n  if (email) lead.email = email;\n  if (name) lead.name = name;\n}\n\nfunction formatPlainText(text) {\n  if (!text) return '';\n\n  let output = text.trim();\n\n  const jsonStart = output.search(/\\{\\s*\"message\"\\s*:/);\n  if (jsonStart > 0) {\n    output = output.slice(0, jsonStart).trim();\n  }\n\n  return output\n    .replace(/^#{1,6}\\s+/gm, '')\n    .replace(/\\*\\*(.+?)\\*\\*/g, '$1')\n    .replace(/__(.+?)__/g, '$1')\n    .replace(/`([^`]+)`/g, '$1')\n    .replace(/^\\s*[*-]\\s+/gm, '• ')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n}\n\nconst parsedJson = extractJsonFromText(raw);\nconst previousStep = context.step || 'start';\nconst userMessage = (context.userMessage || '').trim();\nconst existingLeadData = context.leadData || {};\nlet conversationState = context.conversationState || {};\nif (!conversationState || Object.keys(conversationState).length === 0) {\n  try {\n    conversationState = $('Parse Input').first().json.conversationState || {};\n  } catch (error) {\n    conversationState = {};\n  }\n}\n\nlet parsed;\nif (parsedJson) {\n  parsed = parsedJson;\n} else {\n  parsed = {\n    message: formatPlainText(raw),\n    nextStep: previousStep,\n    leadData: {},\n    isHotLead: false,\n    getStartedReady: false,\n  };\n}\n\nconst newLeadData = parsed.leadData || {};\nconst mergedLeadData = { ...existingLeadData };\n\nObject.keys(newLeadData).forEach((key) => {\n  const val = newLeadData[key];\n  if (val !== '' && val !== null && val !== undefined) {\n    mergedLeadData[key] = val;\n  }\n});\n\napplyContactFromMessage(userMessage, mergedLeadData);\n\nconst topicDismissPattern = /\\b(not looking for|not interested in|not today)\\b/i;\nif (topicDismissPattern.test(userMessage)) {\n  if (newLeadData.topic) {\n    mergedLeadData.topic = newLeadData.topic;\n  } else {\n    delete mergedLeadData.topic;\n    delete mergedLeadData.assistanceWith;\n  }\n}\n\nconst refusalPattern =\n  /\\b(no thanks|not interested|rather not|don't want to share|do not want to share|won't share|no email|pass on that|just browsing|not comfortable|won't give|i'd rather not)\\b/i;\n\nif (refusalPattern.test(userMessage) && !(mergedLeadData.name && mergedLeadData.email)) {\n  mergedLeadData.contactDeclined = true;\n}\n\nconst hasEmail = Boolean(mergedLeadData.email);\nconst hasName = Boolean(mergedLeadData.name);\nconst contactComplete = hasName && hasEmail;\nconst contactDeclined = Boolean(mergedLeadData.contactDeclined);\nconst wasContactAsked = Boolean(mergedLeadData.contactAsked);\nconst wasAlreadyComplete = Boolean(existingLeadData.name && existingLeadData.email);\nconst wasAlreadySaved = Boolean(conversationState.leadSaved);\n\nlet nextStep = parsed.nextStep || previousStep;\nlet getStartedReady = false;\n\nif (nextStep === 'collecting_contact' || parsed.leadData?.contactAsked) {\n  mergedLeadData.contactAsked = true;\n}\n\nif (wasContactAsked && !contactComplete && !contactDeclined && previousStep === 'collecting_contact') {\n  const gaveContact = Boolean(extractEmail(userMessage) || extractName(userMessage));\n  if (!gaveContact && !refusalPattern.test(userMessage)) {\n    nextStep = 'completed';\n  }\n}\n\nif (contactComplete) {\n  nextStep = 'completed';\n  getStartedReady = true;\n}\n\nif (contactDeclined) {\n  nextStep = 'completed';\n  getStartedReady = false;\n}\n\nif (previousStep === 'completed' && !contactComplete && !contactDeclined) {\n  nextStep = 'completed';\n}\n\nconst gotContactThisTurn =\n  Boolean(extractEmail(userMessage)) ||\n  Boolean(extractName(userMessage)) ||\n  Boolean(newLeadData.name) ||\n  Boolean(newLeadData.email);\n\nconst shouldSaveLead =\n  contactComplete &&\n  !wasAlreadySaved &&\n  gotContactThisTurn &&\n  nextStep === 'completed';\n\nconst messageCount = Math.max(Number(parsed.messageCount) || 0, (context.messageCount || 0) + 1);\n\nlet aiMessage = formatPlainText(parsed.message || parsed.response || '');\n\nif (!aiMessage) {\n  aiMessage = contactComplete\n    ? `Thank you, ${mergedLeadData.name}! Our team has your details and can follow up if you need anything else.`\n    : 'Happy to help — let me know if you have any other questions about hormone health or our services.';\n}\n\nreturn [\n  {\n    json: {\n      aiMessage,\n      nextStep,\n      leadData: mergedLeadData,\n      isHotLead: parsed.isHotLead || false,\n      getStartedReady,\n      shouldSaveLead,\n      messageCount,\n      sessionId: context.sessionId || 'unknown-' + Date.now(),\n      pageUrl: context.pageUrl || '/',\n      source: context.source || 'viltis-website',\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        -80
      ],
      "id": "41de6887-555f-49a0-a012-8b4cf65bd9a0",
      "name": "Parse AI Response"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nreturn [{\n  json: {\n    response: data.aiMessage,\n    getStartedUrl: null,\n    conversationState: {\n      step: data.nextStep,\n      leadData: data.leadData || {},\n      isHotLead: data.isHotLead || false,\n      getStartedReady: data.getStartedReady || false,\n      leadSaved: Boolean(data.shouldSaveLead) || Boolean(data.leadData?.leadSaved) || false,\n      messageCount: data.messageCount || 0,\n      symptomChecklistDone: Boolean(data.leadData?.symptomChecklistPrompted) || false,\n      portalRegistered: Boolean(data.leadData?.portalPrompted) || false\n    },\n    sessionId: data.sessionId || '',\n    leadData: data.leadData || {},\n    isHotLead: data.isHotLead || false,\n    getStartedReady: data.getStartedReady || false,\n    shouldSaveLead: data.shouldSaveLead || false,\n    pageUrl: data.pageUrl || '/',\n    source: data.source || 'viltis-website'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        -80
      ],
      "id": "0c4abc16-ee9f-4d1d-9f89-952a193ab7e0",
      "name": "Build Final Response"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "save-lead-check",
              "leftValue": "={{ $json.shouldSaveLead }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        896,
        16
      ],
      "id": "f675a071-72b3-49e7-9b09-3a8584ebafa2",
      "name": "If Lead Ready"
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_TABLE_NAME",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.sessionId }}",
            "Name": "={{ $json.leadData.name || \"\" }}",
            "Email": "={{ $json.leadData.email || \"\" }}",
            "Phone Number": "={{ $json.leadData.phone || \"\" }}",
            "Assistance With": "={{ $json.leadData.assistanceWith || \"\" }}",
            "Timestamp": "={{ $now.toISO() }}"
          },
          "matchingColumns": [
            "id"
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1104,
        16
      ],
      "id": "f2745031-5f55-4ee7-950c-3e7c134e7dae",
      "name": "Save Lead"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { response: $json.response, getStartedUrl: $json.getStartedUrl, conversationState: $json.conversationState, sessionId: $json.sessionId } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1104,
        -176
      ],
      "id": "c69cd710-1d7f-426f-b539-e98f6236e85a",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Input": {
      "main": [
        [
          {
            "node": "If New Visitor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If New Visitor": {
      "main": [
        [
          {
            "node": "Set New Visitor Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Returning Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set New Visitor Context": {
      "main": [
        [
          {
            "node": "OpenAI Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Returning Context": {
      "main": [
        [
          {
            "node": "OpenAI Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Build Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Final Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Lead Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Lead Ready": {
      "main": [
        [
          {
            "node": "Save Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "hrt-org-chatbot-workflow-v2"
  },
  "settings": {
    "executionOrder": "v1"
  }
}
